/*========== INDEX CSS ==========*/

:root {
  /* Kode Warna Dasar Utama */
  --my-color: #0371fe;
  --my2-color: #0371fe;
  --panel-color: aliceblue;
  --black-color: #000000;
  --white-color: #ffffff;
  --gray-color: gray;
  --red-color: red;
  --transparent-color: transparent;
  --orange-color: orange;

}
.dark-mode {
}

body {
  font-family: 'Open Sans', sans-serif;
  background: var(--panel-color) !important;
  max-width: 900px;
  margin: 0 auto !important;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  animation: fade-in 0.1s linear;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

button,
button:hover,
button:focus {
  border: none !important;
  outline: none !important;
}

a,
a:hover,
a:focus {
  border: none !important;
  text-decoration: none;
  outline: none !important;
}

.container {
  padding: 10px;
}

.flex {
  display: flex;
  align-items: center;
}

.w-full {
  width: 100%;
}

.text-end {
  text-align: right;
}

.mt-1 {
  margin-top: 13px;
}

/*========== AKHIR INDEX ==========*/

/*========== NAV CSS ==========*/
nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  display: flex;
  padding: 20px;
  z-index: 1000;
  align-items: center;
  background: var(--my-color);
  box-shadow: 0 0.1px 2.2px 0 rgba(0, 0, 0, 0.1);
}

nav .logo {
  display: flex;
  align-items: center;
  margin: 0 24px;
}

.imgnav {
  width: 30px;
  border-radius: 5px;
}

.logo .logo-name {
  color: var(--white-color);
  font-size: 18px;
  margin-left: 4px;
  font-weight: 500;
}

.total {
  position: absolute;
  right: 12px;
  top: 13px;
  background: var(--my-color);
}

.fa-headphones {
  color: var(--white-color);
  font-size: 22px;
  margin-left: 10px;
  animation: shake 1.5s infinite;
  margin-right: 5px;
}

.fa-envelope {
  color: var(--white-color);
  font-size: 22px;
  margin-left: 10px;
  animation: shake 1.5s infinite;
  margin-right: 5px;
}

.fa-bars {
  color: var(--white-color);
  font-size: 23px;
  margin-left: -20px;
  margin-right: 10px;
}

/* NAV */
.offcanvas {
  border: none !important;
  width: 60% !important;
}

.offcanvas-body {
  padding: 0px !important;
  border: none !important;
  background: var(--white-color) !important;
  backdrop-filter: blur(17px) !important;
  --webkit-backdrop-filter: blur(17px) !important;
  border-right: 1px solid rgba(255, 255, 255, 0.7) !important;
  transition: width 0.3s ease !important;
}

.header-nav {
  background-image: url('https://1.bp.blogspot.com/-z0fvLvtNaMQ/Xng46Le14bI/AAAAAAAAFzI/q0z-SnM87Bol1_0QQRKV8Ob_eHxB9BqkgCLcBGAsYHQ/s16000/begron-biru.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10px;
  text-align: center;
  align-items: center;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.header-nav img {
  width: 70px;
  border-radius: 100px;
  margin-top: 15px;
}

.header-nav p {
  font-size: 14px;
  color: var(--white-color);
  margin-bottom: 0px;
  font-weight: 500;
  margin-top: 2px;
}

.body-nav {
  padding: 15px;
}

.menu-nav {
  display: flex;
  text-decoration: none;
  align-items: center;
  margin-bottom: 15px;
}

.img-nav i {
  width: 22px;
  font-size: 22px;
  color: var(--my-color);
  /*========== opacity:.5; ==========*/
  margin-right: 15px;
}

.text-nav h5 {
  font-size: 14px;
  color: #7F7F7F;
  margin-top: 10px;
}

.bg-tr {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

/*========== AKHIR NAV ==========*/

/*========== SALDO CSS ==========*/
.bg-saldo {
  background: var(--my-color);
  position: absolute;
  height: 150px;
  width: 100%;
  border-radius: 0px 0px 30px 30px;
  left: 0;
  top: 0px;
  z-index: -1;
}

.box-saldo {
  background: var(--white-color);
  position: relative;
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  box-shadow: none;
  margin-top: 0px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.level {
  position: absolute;
  top: 0px;
  height: 70px;
  z-index: 1;
  font-size: 11px;
  color: white;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 18px;
  padding-bottom: 3px;
  right: 1px;
  font-weight: 600;
  border-radius: 0px 10px 10px 0px;
  background: var(--orange-color);
}

.flex {
  align-items: center;
}

.fa-sync-alt {
  margin-left: 5px;
  font-size: 14px;
}

/*========== SALDO V2 ==========*/
.box-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.d-flex {
  display: flex
}

.image-saldo img {
  width: 35px;
  border: none;
  border-radius: 7px;

}

.text-saldo h5 {
  font-size: 12px;
  font-weight: 600;
  color: var(--my-color);
  text-decoration: none;
  margin-bottom: 0px;
  margin-top: 1px;
  margin-left: 11px;
}

.text-saldo p {
  font-size: 12px;
  font-weight: 600;
  color: var(--black-color);
  text-decoration: none;
  margin-bottom: 0px;
  margin-left: 11px;
}

/*========== AKHIR SALDO ==========*/

/*========== MENU SALDO ==========*/
.Codingasik-grid5 {
  list-style: none;
  margin: 0;
  padding: 0px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  max-width: 100%;
  margin-top: 5px;
  background: var(--white-color);
}

.l-saldo {
  position: relative;
}

.topups {
  text-align: center;
  background: var(--white-color);
  padding: 10px;
  margin-top: 10px;
}

.topups img {
  width: 45px;
  padding: 5px;
  border-radius: 10px;
  filter: var(--filter-color);
  border: 2px solid var(--my-color);

}

.topups p {
  font-size: 11px;
  color: var(--black-color);
  font-weight: 500;
}

/*========== MARQUEE ==========*/

.Hr {
  background: #f1f1f1;
  width: 100%;
  height: 1px;
}

.box2 {
  background: var(--white-color);
  color: #000;
  border-radius: 10px;
  padding: 2px;
  padding-bottom: 20px;
  height: 15px;
  width: 100%;
  font-size: 10px;
}

.speaker {
  border-radius: 100px;
  width: 20px;
  height: 20px;
  background: var(--white-color);
  float: left;
  margin-top: 0px;
}

marquee {
  color: #595959;
  font-size: 13px;
  font-weight: 400;
  text-align: left;
  margin-bottom: 0px;
  width: 92%
}

/*========== AKHIR MENU ==========*/

/*========== BANNER CSS ==========*/
.carousel-inner {
  border-radius: 5px;
  border: 1px solid var(--white-color);
  background: var(--white-color);
}

.box-banner {
  background: var(--white-color);
  color: var(--gray-color);
  padding: 10px;
  border: 1px solid var(--white-color);
  border-radius: 5px;
  margin-top: 10px;
}

/*========== AKHIR BANNER ==========*/

/*========== MENU ATAU PRODUK ==========*/
.box-ruu {
  background: var(--white-color);
  color: var(--gray-color);
  padding: 14px;
  margin-top: -24px;
  z-index: 10;
  position: relative;
  width: 100%;
  border: 1px solid var(--white-color);
  border-radius: 5px;

}

.ribbon {
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px;
  height: 75px;
  text-align: right;
}

.ribbon span {
  font-size: 10px;
  font-weight: 600;
  color: var(--white-color);
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(var(--my-color) 0%, var(--my-color) 100%);
  /* box-shadow:0px 3px 12px -7px rgba(0,0,5,5.5);
	*/
  position: absolute;
  top: 19px;
  right: -21px;
}

.ribbon span::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid var(--my-color);
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid var(--my-color);
}

.ribbon span::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid var(--my-color);
  border-bottom: 3px solid transparent;
  border-top: 3px solid var(--my-color);
}

.capbox {
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  margin-bottom: 0px;
}

.ruu-menu3 {
  margin: 0;
  padding: 0;
  border: right;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  position: relative;
  top: 0px;
}

.button-ruu3 {
  border: none;
  background: transparent;
  width: 100%;
  border-radius: 15px;
  padding: 5px;
  margin-top: 10px;
  text-align: center;
}

.button-ruu3 img {
  width: 50px;
  position: relative;
  z-index: 100;
  background: var(--my-color);
  padding: 5px;
  border: 4px solid var(--my-color);
  box-shadow: 0px 3px 12px -7px rgba(0, 0, 5, 5.5);
  border-radius: 10px 10px 10px 10px;
}

.button-ruu3 img:hover {
  width: 50px;
  position: relative;
  z-index: 100;
  border: 3px solid var(--my-color);
  box-shadow: 0px 3px 12px -7px rgba(0, 0, 5, 5.5);
  border-radius: 10px 10px 10px 10px;
}

.button-ruu3 p {
  color: var(--gran-color);
  font-weight: 600;
  font-size: 10px !important;
  margin-top: 3px !important;
  width: 100% !important;
  margin-bottom: 0px;
}

/*========== AKHIR PRODUK ==========*/
/*========== CARD LIST ==========*/
.card {
  border-radius: 5px;
  padding: 15px;
  background: var(--white-color);
  margin-top: 0px;
  width: 100%;
  border: none;
}

.card .w-full {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card h5 {
  font-size: 2.5vw;
  font-weight: 500;
  color: var(--my-color);
}

.card p {
  font-size: 2vw;
  font-weight: 400;
  color: var(--black-color);
  margin-bottom: 0px;
}

.card img {
  width: 70%;
  border-radius: 10px;
}

/*========== TAMBAHAN CARD LIST ==========*/
.codingasik-flex {
  display: flex;
  background-color: var(--white-color);
}

#pusat {
  background-color: var(--white-color);
  border-radius: 0px 0px 5px 5px;
  padding: 10px;
  box-shadow: 0 0.4px 2.2px 0 rgba(0, 0, 0, 0.2);
}

#pusat2 {
  background-color: var(--my-color);
  border-radius: 5px 5px 0px 0px;
  padding-top: 20px;
  font-size: 15px;
  color: var(--white-color);
  font-weight: 600;
  box-shadow: 0 0.4px 2.2px 0 rgba(0, 0, 0, 0.2);
}

.image-operator img {
  width: 40px;
  padding: 5px;
  border: none;
  margin-bottom: 5px;
  margin-top: 5px;
  border-radius: 7px;
  filter: var(--filter-color);
}

.text-operator h5 {
  font-size: 14px;
  font-weight: 600;
  color: var(--my-color);
  text-decoration: none;
  margin-bottom: 0px;
  margin-top: 10px;
  margin-left: 11px;
}

.text-operator p {
  font-size: 12px;
  width: 80%;
  color: var(--text-color);
  text-decoration: none;
  margin-bottom: 0px;
  margin-left: 8px;
  padding: 5px;
}

.font {
  padding: 0;
  margin: 0;
  font-size: 13px;
  font-weight: 600;
  color: var(--white-color);
}

/*========== AKHIR CARD LIST ==========*/